# Copier en .env et remplir les vraies valeurs
# Ne jamais commiter .env dans Git !

MYSQL_ROOT_PASSWORD=RootP@ssw0rd!
DB_USER=foodfrenzy_user
DB_PASSWORD=FoodP@ssw0rd!

HARBOR_HOST=localhost:8081
HARBOR_USER=admin
HARBOR_PASSWORD=Harbor12345

IMAGE_TAG=latest